<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hangar Express.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3AF2F901A1815F07F1D28F0660E846AFA538DF17</string>
				<key>dateExpires</key>
				<string>4/18/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9RK34X2QQ4.com.wisewolfholo.Hanger-Express</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9RK34X2QQ4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Hangar Express.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>862620dc-7cd0-49a7-a891-9e2fe66e04aa</string>
				<key>dateExpires</key>
				<string>4/18/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.wisewolfholo.Hanger-Express</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9RK34X2QQ4</string>
				<key>name</key>
				<string>Chen Liu</string>
			</dict>
			<key>versionNumber</key>
			<string>0.5</string>
		</dict>
	</array>
</dict>
</plist>
