<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hanger Express.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>83C6DD819C5171CB3B839AF3D05CD3E2838C08E8</string>
				<key>dateExpires</key>
				<string>4/18/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9RK34X2QQ4.com.wisewolfholo.Hanger-Express</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9RK34X2QQ4</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Hanger Express.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>befc7f60-8480-4b77-a4ab-6b978d5b193a</string>
				<key>dateExpires</key>
				<string>4/18/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.wisewolfholo.Hanger-Express</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9RK34X2QQ4</string>
				<key>name</key>
				<string>Chen Liu</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
